# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*/Makefile
*/Makefile.*
*/created*.txt
*/expected*.txt
*/main
*.pro.user
*/*.pro.user
build-*
debug/
hello_world/main.cpp
hello_world/main.pro
show_args/README.md
show_args/check_course_guidelines
show_args/check_cpp_core_guidelines.md
show_args/check_cpp_core_guidelines
show_args/clean_test
show_args/do_oclint
show_args/get_code_cov
show_args/install
show_args/install_oclint
show_args/main.cpp
show_args/main.pro
show_args/test_tests
correct_cpp.pdf
correct_cpp_booklet.pdf
scripts/title.pdf
